:root{
    --branco-pricipal :#ffff;
    --cinza-secundario:#c0c0c0;
    --botao-azul:#00030c;
    --cor-de-fundo: #00030c;
}
body{
    background-color: var(--cor-de-fundo);
    color:var(--branco-pricipal)
}
{
    margin: 0;
    padding: 0;
}